Scope On Fail
{
    "id":"d36cc519-5699-47dc-8427-6e5f7384f50c",
    "brandColor":"#8C3900",
    "connectionReferences":{
        "shared_office365":{
            "connection":{
                "id":"/providers/Microsoft.PowerApps/apis/shared_office365/connections/bb700f260af043ac87350ee663bef285"
            }
        },
        "shared_sharepointonline":{
            "connection":{
                "id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline/connections/a3df40ff6d8b43c4a40869f0868eb56b"
            }
        }
    },
    "connectorDisplayName":"Control",
    "icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=",
    "isTrigger":false,
    "operationName":"On_Fail",
    "operationDefinition":{
        "type":"Scope",
        "actions":{
            "Filter_errors":{
                "type":"Query",
                "inputs":{
                    "from":"@result('Main')",
                    "where":"@contains(createArray('Failed', 'TimedOut'), item()['status'])"
                },
                "runAfter":{}
            },
            "For_each_error":{
                "type":"Foreach",
                "foreach":"@body('Filter_errors')",
                "actions":{
                    "Append_to_string_variable":{
                        "type":"AppendToStringVariable",
                        "inputs":{
                            "name":"strErrorDetails",
                            "value":"<p>Action: @{item()['name']}<br>\nStatus: @{item()['status']}<br>\nError: @{coalesce(item()?['error']?['message'],item()['code'])}<br></p>"
                        },
                        "runAfter":{}
                        }},
                        "runAfter":{
                            "Filter_errors":["Succeeded"]
                        }
                    },
                    "Notify_of_flow_failure":{
                        "type":"OpenApiConnection",
                        "inputs":{
                            "host":{
                                "connectionName":"shared_office365",
                                "operationId":"SendEmailV2",
                                "apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"
                            },
                            "parameters":{
                                "emailMessage/To":"oliver.roelandt@beyond-it.be",
                                "emailMessage/Subject":"Flow @{workflow()?['tags']['flowDisplayName']} failed",
                                "emailMessage/Body":"@{variables('strErrorDetails')}\n<p><a href=\"@{concat('https://flow.microsoft.com/manage/environments/',workflow()?['tags']['environmentName'],'/flows/',workflow()?['name'],'/runs/',workflow()?['run']['name'])}\">View run history</a></p>",
                                    "emailMessage/Importance":"Normal"
                                },
                                "authentication":{
                                    "type":"Raw",
                                    "value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                                    }},
                                    "runAfter":{
                                        "For_each_error":["Succeeded","Failed"]
                                    }
                                },
                                "Terminate":{
                                    "type":"Terminate",
                                    "inputs":{
                                        "runStatus":"Failed"
                                    },
                                    "runAfter":{
                                        "Notify_of_flow_failure":["Succeeded"]
                                    }
                                }
                            },
                            "runAfter":{
                                "Main":["Failed","TimedOut"]
            }
        }
}
