Scope On Fail
{
   "id":"23d0e255-aeaa-4793-958a-5ffeadb8e618",
   "brandColor":"#8C3900",
   "connectionReferences":{
      "shared_office365_1":{
         "connection":{
            "id":"/providers/Microsoft.PowerApps/apis/shared_office365/connections/shared-office365-1c81a12c-ef52-4715-b87d-f179-d22b3adf"
         }
      }
   },
   "connectorDisplayName":"Control",
   "icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=",
   "isTrigger":false,
   "operationName":"On_Fail",
   "operationDefinition":{
      "type":"Scope",
      "actions":{
         "Filter_errors":{
            "type":"Query",
            "inputs":{
               "from":"@result('Main')",
               "where":"@contains(createArray('Failed', 'TimedOut'), item()['status'])"
            },
            "runAfter":{
               
            },
            "metadata":{
               "operationMetadataId":"c6b34a59-1685-4632-a086-420e3ccd345c"
            }
         },
         "For_each_error":{
            "type":"Foreach",
            "foreach":"@body('Filter_errors')",
            "actions":{
               "Append_to_string_variable":{
                  "type":"AppendToStringVariable",
                  "inputs":{
                     "name":"strErrorDetails",
                     "value":"<p>Action: @{item()['name']}<br>\nStatus: @{item()['status']}<br>\nError: @{coalesce(item()?['error']?['message'], item()?['outputs']?['body']?['message'], item()?['outputs']?['body']?['error']?['message'], item()['code'])}<br></p>"
                  },
                  "runAfter":{
                     
                  },
                  "metadata":{
                     "operationMetadataId":"f5caa7d6-ea04-497e-ab5f-30d6cd2a2ab2"
                  }
               }
            },
            "runAfter":{
               "Filter_errors":[
                  "Succeeded"
               ]
            },
            "metadata":{
               "operationMetadataId":"fb51314d-e32b-44de-98ab-ccb22fca8e26"
            }
         },
         "Notify_of_flow_failure":{
            "type":"OpenApiConnection",
            "inputs":{
               "host":{
                  "connectionName":"shared_office365_1",
                  "operationId":"SendEmailV2",
                  "apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"
               },
               "parameters":{
                  "emailMessage/To":"e@mail.com",
                  "emailMessage/Subject":"Flow @{workflow()?['tags']['flowDisplayName']} failed",
                  "emailMessage/Body":"<p><strong>Flow start time:</strong> @{formatDateTime(convertFromUtc(trigger()['startTime'],'Romance Standard Time'),'dd/MM/yyyy HH:mm:ss')}</p>\n@{variables('strErrorDetails')}\n<p><a href=\"@{concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])}\">View run history</a></p>",
                  "emailMessage/Importance":"Normal"
               },
               "authentication":{
                  "type":"Raw",
                  "value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
               }
            },
            "runAfter":{
               "For_each_error":[
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
               ]
            },
            "metadata":{
               "operationMetadataId":"b680647f-6eb4-434d-a169-b55e559f8fd2"
            }
         },
         "Terminate":{
            "metadata":{
               "operationMetadataId":"e48901d0-e7e9-4925-ad73-8f439df5ac48"
            },
            "type":"Terminate",
            "inputs":{
               "runStatus":"Failed"
            },
            "runAfter":{
               "Notify_of_flow_failure":[
                  "Succeeded"
               ]
            }
         }
      },
      "runAfter":{
         "Main":[
            "Succeeded"
         ]
      },
      "metadata":{
         "operationMetadataId":"08f2a724-79b9-4f83-874b-04c3ce7c3efd"
      }
   }
}
